.editorconfig
.eslintrc.js
.gitignore
.npmignore
.prettierrc
.vscode/
CHANGELOG.md
CONTRIBUTING.md
examples/
demo/
package-lock.json
prettier.config.js
tasks/
test/
__tests__/
webpack.config.js
*.taskpaper
NOTES.md
src/